flask==3.1.0
flask_sqlalchemy==3.1.1
SQLAlchemy~=2.0.39
Flask-Migrate~=4.1.0
dotenv~=0.9.9
python-dotenv~=1.0.1
alembic~=1.15.1
requests~=2.32.3
qrcode~=8.0
pillow~=11.1.0
reportlab~=4.3.1
Flask-Mail~=0.10.0
psycopg2~=2.9.10