<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ven Greenery - Scan QR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/js/admin_dashboard.js" defer></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <link rel="icon" href="../static/img/b&w_logo.svg">
    <link rel="stylesheet" href="../static/css/admin_dashboard.css">
</head>
<body>
<header>
    <img src="../static/img/logo_white_fixed.png" alt="Ven Greenery">
</header>

<div class="container">
    <div id="my-qr-reader"></div>
</div>

<div id="notification"></div>
</body>
</html>