<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin_auth.css">
    <script src="../static/js/admin_auth.js" defer></script>
    <link rel="icon" href="../static/img/b&w_logo.svg">
</head>
<body>
<header>
    <img src="../static/img/logo_red_fixed.png" alt="Logo">
</header>

<div class="container">
    <h1>Вхід</h1>
    <form id="auth-from" method="GET" action="/admin_dashboard">
        <div class="form-group">
            <label for="admin-credentials">Емейл або телефон:</label>
            <input type="text" id="admin-credentials" name="admin-credentials" placeholder="Пошта або номер телефону" required>
        </div>
        <div class="form-group">
            <label for="admin-password">Пароль:</label>
            <input type="password" id="admin-password" name="admin-password" placeholder="Пароль" required>
        </div>
        <span id="invalid-input"></span>
        <button type="submit">Увійти</button>
    </form>
</div>
</body>
</html>