<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизація</title>
    <script src="../static/js/admin_auth.js" defer></script>
    <link rel="icon" href="../static/img/temp_logo_64.svg">
</head>
<body>
    <form id="auth-from" method="GET" action="/admin_dashboard" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <label>
            <span>Пошта або номер телефону:</span>
            <input name="admin-credentials" id="admin-credentials" type="text" placeholder="Пошта або номер телефону">
            <span id="invalid-input"></span>
        </label>
        <label>
            <span>Пароль:</span>
            <input name="admin-password" id="admin-password" type="password" placeholder="Пароль">
        </label>
    <button type="submit">Увійти</button>
    <button type="reset">Скинути</button>
    </form>
</body>
</html>