<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VenGreenery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thanks.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/b&w_logo.svg') }}">
</head>
<body>

<header>
    <a href="index.html" class="logo">
        <img src="{{ url_for('static', filename='img/logo_red_fixed.webp') }}" alt="VenGreenery">
    </a>
</header>
<main>
    <div class="container">
        <h1>Оплата успішна!</h1>
        <p>Ваші квитки надіслані на вказану електронну пошту.</p>
        <p>Ви також можете завантажити їх прямо зараз:</p>

        <a href="https://vengreenery.net" class="btn">На головну</a>
        {% for ticket in tickets %}
            <a href="{{ url_for('static', filename="pdf/ticket_"+ticket|string+".pdf") }}" download class="btn">
                Завантажити квиток №{{ ticket }}
            </a>
        {% endfor %}
    </div>
</main>
<footer>
    <ul>
        <li>
            <a href="/merchant_info#contact-info">
                Контактна інформація
            </a>
        </li>
        <li>
            <a href="/merchant_info#refund-info">
                Refund policy
            </a>
        </li>
        <li>
            <a href="/merchant_info#terms-info">
                Terms and conditions
            </a>
        </li>
    </ul>
</footer>
</body>
</html>
