<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VenGreenery - Оплата успішна</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="thanks.css">
    <script src="thanks.js" defer></script>
</head>
<body>

<header>
    <img src="../static/img/logo_red_fixed.png" alt="🌷">
</header>

<div class="container">
    <div class="success-icon">✔️</div>
    <h1>Оплата успішна!</h1>
    <p>Ваші квитки надіслані на вказану електронну пошту.</p>
    <p>Ви також можете завантажити їх прямо зараз:</p>

    <a href="{{ url_for('static', filename=filename) }}" download class="btn">Завантажити квитки</a>
</div>

</body>
</html>
